<section class="Hero" id="Hero">
<div class="left">
  <h1>Gao Campbell</h1>
    <div class="title-container">
      <div>
      <P class="Title">Jr. Full-Stack Dev.</P>
      <p class="Title">|</p>
      <p class="Title">IMBA</p>
      <ul>
          <li>
            <picture>
              <source type="image/webp" srcset=<%= asset_path('code.webp')%>>
              <source type="image/jpeg" srcset=<%= asset_path('code.png')%>>
              <img class="lazyload" alt="Coding" data-src=<%= asset_path('code.png')%>>
            </picture>
            
          </li>
        </ul>
      </div>
      <p class="bio">I'm Highly passionate about designing, coding and launching products, which is why I chose this career path.</p>
      <a target="_blank" class="cv" href="<%= asset_path('Jr.Frontend.Devloper.pdf')%>">View CV</a>
    </div>

</div>
<div class="right">
  <div class="img">
    
  </div>
  
</div>
<div class="links">
  <ul>
    <li><a target="_blank" href="https://github.com/GaoCampbell"><img alt="Github" src=<%= asset_path('github.png')%>></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/gaocampbell"><img alt="Linkedin" src=<%= asset_path('linkedin.webp')%>></a></li>
  </ul>
</div>
</section>