<section class="showcase" id="showcase">
<div class="container">
<div class="title">
  <h1>Porfolio</h1>
  <p>Each project is a unique piece of art with countless hours invested.</p>
</div>
<div class="card">
  <div class="img"></div>
  <div class="right">
    <h1 class="pro-title">CheckMe</h1>
    <p>The project involves the creation of a social media clone, which imitates the look and feel of a popular social networking site. The main focus is on the front-end development, utilizing HTML for structuring the content and CSS/SCSS for styling and layout.</p>
    <ul class="tech">
      <li><img src=<%= asset_path('html.webp')%> alt="HTML">HTML</li>
      <li><img src=<%= asset_path('sas.webp')%> alt="SCSS">SCSS</li>
    </ul>
    <ul class="links">
      <li><a target="_blank" href="https://github.com/GaoCampbell/socialmedia">Code<i class="fa-brands fa-github"></i></a></li>
      <li><a target="_blank" href="https://gaocampbell.github.io/socialmedia/">Live Demo<i class="fa-solid fa-link"></i></a></li>
    </ul>
  </div>
</div>
<div class="card card2">
  <div class="img"></div>
  <div class="right">
    <h1 class="pro-title">GaoCampbell.com</h1>
    <p>This platform serves as a window into my professional journey and showcases my skills and accomplishments. With a user-friendly design and easy navigation, you'll find four main sections: Home, About, Skills, and Showcase.</p>
    <ul class="tech">
      <li><img src=<%= asset_path('html.webp')%> alt="HTML">HTML</li>
      <li><img src=<%= asset_path('sas.webp')%> alt="SCSS">SCSS</li>
      <li><img src=<%= asset_path('ROR.webp')%> alt="SCSS">ROR</li>
    </ul>
    <ul class="links">
      <li><a target="_blank" href="https://github.com/GaoCampbell/MyRubyPorfolio">Code<i class="fa-brands fa-github"></i></a></li>
      <li><a target="_blank" href="https://www.gaocampbell.com/">Live Demo<i class="fa-solid fa-link"></i></a></li>
    </ul>
  </div>
</div>
</div>
</section>