<section class="skills" id="skills">
<div class="title">
  <h1>My Stack</h1>
  <p>Each project is a unique piece of art with countless hours invested.</p>
</div>
<div class="skills-container">
  <div class="row1">
    <h1>Frontend</h1>
    <ul>
      <li><img src=<%= asset_path('html.webp')%> alt="HTML"> HTML</li>
      <li><img src=<%= asset_path('css.webp')%> alt="CSS"> CSS</li>
      <li><img src=<%= asset_path('sas.webp')%> alt="SCSS">SCSS</li>
      <li><img src=<%= asset_path('js.webp')%> alt="Javascript">JS</li>
      <li><img src=<%= asset_path('bootstrap.webp')%> alt="Bootstrap"> Bootstrap</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Backend</h1>
    <ul>
      <li><img src=<%= asset_path('python.webp')%> alt="Python">Python</li>
      <li><img src=<%= asset_path('django-logo.webp')%> alt="Django">Django</li>
      <li><img src=<%= asset_path('ROR.webp')%> alt="Ruby On Rails">ROR</li>
      <li><img src=<%= asset_path('sql.webp')%> alt="SQL">SQL</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Others</h1>
    <ul>
      <li><img src=<%= asset_path('git.webp')%> alt="Git">Git</li>
      <li><img src=<%= asset_path('github.webp')%> alt="github">Github</li>
      <li><img src=<%= asset_path('r.webp')%> alt="R">R</li>
      <li><img src=<%= asset_path('c.webp')%> alt="">C#</li>
      <li><img src=<%= asset_path('ml.webp')%> alt="">AI/ML</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Learning</h1>
    <ul>
      <li><img src=<%= asset_path('ROR.webp')%> alt="">ROR</li>
    </ul>
  </div>
</div>
</div>
</section>