<section class="skills" id="skills">
<div class="title">
  <h1>My Stack</h1>
  <p>Each project is a unique piece of art with countless hours invested.</p>
</div>
<div class="skills-container">
  <div class="row1">
    <h1>Frontend</h1>
    <ul>
      <li><img src=<%= asset_path('html.png')%> alt="HTML"> HTML</li>
      <li><img src=<%= asset_path('css.png')%> alt="CSS"> CSS</li>
      <li><img src=<%= asset_path('sas.png')%> alt="SCSS">SCSS</li>
      <li><img src=<%= asset_path('JavaScript-Logo-500x313.png')%> alt="Javascript">JS</li>
      <li><img src=<%= asset_path('bootstrap.png')%> alt="Bootstrap"> Bootstrap</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Backend</h1>
    <ul>
      <li><img src=<%= asset_path('python.png')%> alt="Python">Python</li>
      <li><img src=<%= asset_path('django-logo.png')%> alt="Django">Django</li>
      <li><img src=<%= asset_path('ROR.png')%> alt="Ruby On Rails">ROR</li>
      <li><img src=<%= asset_path('sql.png')%> alt="SQL">SQL</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Others</h1>
    <ul>
      <li><img src=<%= asset_path('git.png')%> alt="Git">Git</li>
      <li><img src=<%= asset_path('github.png')%> alt="github">Github</li>
      <li><img src=<%= asset_path('r.png')%> alt="R">R</li>
      <li><img src=<%= asset_path('c.png')%> alt="">C#</li>
      <li><img src=<%= asset_path('ml.png')%> alt="">AI/ML</li>
    </ul>
  </div>
  <div class="row1">
    <h1>Learning</h1>
    <ul>
      <li><img src=<%= asset_path('ROR.png')%> alt="">ROR</li>
    </ul>
  </div>
</div>
</div>
</section>