<section class="tech-stack">
  <div>
    <p>Playground</p>
    <ul>
      <li class="img1"><img src=<%= asset_path('html.webp')%> alt="HTML5"><span>HTML</span></li>
      <li class="img2"><img src=<%= asset_path('css.webp')%> alt="CSS3"><span>CSS</span></li>
      <li class="img1"><img src=<%= asset_path('sas.webp')%> alt="SCSS"><span>SCSS</span></li>
      <li class="img2"><img src=<%= asset_path('python.webp')%> alt="Python"><span>Python</span></li>
      <li class="img1"><img src=<%= asset_path('ROR.webp')%> alt="Ruby On Rails"><span>ROR</span></li>
      <li class="img2"><img src=<%= asset_path('sql.webp')%> alt="MySQL"><span>SQL</span></li>
      <li class="img1"><img src=<%= asset_path('js.webp')%> alt="Javascript"><span>JS</span></li>
      <li class="img2"><img src=<%= asset_path('django-logo.webp')%> alt="Django"><span>Django</span></li>
    </ul>
  </div>
</section>