<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="icon" href=<%=asset_path('logo32.png')%>>
  <title>G. Campbell</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Personal Porfolio Website | Created by Gao in Taiwan">
    <script async rel="preconnect" src="https://kit.fontawesome.com/7288d38684.js" crossorigin="anonymous"></script>
    <link rel="preconnect" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Poppins:wght@100;400;500;600&display=swap">
    <link rel="preload" fetchpriority="high" as="image" href="<%= asset_path('me.webp')%>" type="image/jpg">
    <link rel="preload" fetchpriority="high" as="image" href="<%= asset_path('meflag.webp')%>" type="image/jpg">
        <link rel="preload" fetchpriority="high" as="image" href="<%= asset_path('SocialMediaClone.webp')%>" type="image/jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags  %>
  
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
